.detailed-post{
  max-width: 900px;
  margin: 50px auto;
  position: relative;
}
.post-details{
width:100%;
display: table;

}
.comment-top-container{
  width: 100%;
  max-width: 600px;
}
.white-spaced{
  white-space: pre-line;
}
