.file-upload{
  position: relative;
    overflow: hidden;
    margin: 10px;
    max-width: 100px;
    margin:10px auto;
}
.image-input {
  position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview{
  max-width: 100%;
}
.imgage-container{
  position: relative;

}
.finished-upload{
  position: relative;
  float: right;
  bottom: 10px;
  top:10px;
}
