.posts{
  max-width: 600px;
  margin:50px auto;
}

.add-post{
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
  background-color: #f1f7fc;
  text-align: left;
}
.url-shower{
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  width: 90%;
}
